# Virtual Environment
venv/
env/

# Model Weights and Checkpoints
saved_models/
*.pt
*.pth
*.bin
*.safetensors

# Datasets
data/*.jsonl
data/*.csv
saved_models/
# Python Cache
__pycache__/
*.pyc

# O
.DS_Store
